<div class="container-fluid">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-12 col-lg-9 col-xl-7">
      <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
        <div class="card-body p-4 p-md-5 text-center">

          <h2 class="mb-4">Seminarium na temat:</h2>

          <p class="lead mb-4">
            "ZASTOSOWANIE SZTUCZNEJ INTELIGENCJI W SYMULACJI I STEROWANIU PROCESAMI METALURGICZNYMI"
          </p>

          <p class="mb-4">
            Odbyło się 18 kwietnia 2023 w Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie.
          </p>

          <p class="mb-4">
            Tegoroczne Seminarium NeuroMet było dwudziestym piątym z serii spotkań, których celem jest stworzenie platformy do wymiany doświadczeń
            w zakresie zastosowania sztucznej inteligencji do symulacji i sterowania procesami metalurgicznymi.
          </p>

          <p class="mb-4">
            Zachęcamy do zgłoszeń w przyszłym roku w tematyce uczenia maszynowego, Industry 4.0, analizy danych i optymalizacji. Zapraszamy do
            prezentacji wyników badań, wyników prac badawczych i wdrożeniowych oraz tematyk badawczych doktoratów. Udział w seminarium jest bezpłatny.
          </p>

          <p class="mb-4">
            Zapraszamy!
          </p>

          <div class="text-left mb-4">
            <strong>ORGANIZATOR SEMINARIUM</strong>
            <br>
            Katedra Informatyki Stosowanej i Modelowania
            <br>
            Przewodniczący Komitetu Organizacyjnego
            <br>
            dr hab. inż. Krzysztof Regulski, prof. AGH
          </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

