.btn-primary {
    background-color: #249e90 !important; 
    border-color: #249e90 !important; 
    color: #ffffff !important;
}

.btn-primary:hover {
    background-color: #1e897d !important; 
    border-color: #25bead !important; 
}
.btn-secondary {
    background-color: #249e90 !important; 
    border-color: #249e90 !important; 
    color: #ffffff !important;
}

.btn-secondary:hover {
    background-color: #1e897d !important; 
    border-color: #25bead !important; 
}